/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

body {
  background-color: rgb(2, 1, 1);
}
h1 {
  text-align: center;
  color: rgb(2, 1, 1);
  width: 500px;
  height: 40px;
}

.centerHolder {
  margin-right: auto;
  margin-left: auto;
}

.containerHolder {
  height: 5em;
  position: relative;
}
/* div.option*/
div.option {
  font-size: 30px;
  margin-top: 15px;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
/* button, button:hover, button.center*/

button {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}

button:hover {
  box-shadow: 0 4px 6px 0 hsl(120, 100%, 25%), 0 8px 30px 0 hsl(60, 100%, 50%);
}

button.centerHolder {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*  c1lrhoverp1, c1lrhoverp2, clrhoverpx  */

.hoverTop1 td:hover {
  background-color: green;
}

.hoverTop2 td:hover {
  background-color: firebrick;
}

.topRowHover td:hover {
  background-color: #202020;
}

.playerBall {
  position: relative;
  display: block;
  width: 65px;
  height: 65px;
  margin: 5px auto 0;
  border-radius: 50%;
}

.play1 {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    greenyellow 3%,
    darkgreen 70%,
    green 100%
  );
}

.play2 {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    hotpink 3%,
    firebrick 70%,
    hotpink 100%
  );
}

.playx {
  color: #b0b0b0;
  background: none;
}

.g0 {
  position: relative;
  animation-name: drop0;
  animation-duration: 0.13s;
}

@keyframes drop0 {
  from {
    top: -45px;
  }
  to {
    top: 0px;
  }
}

.g1 {
  position: relative;
  animation-name: drop0to1;
  animation-duration: 0.26s;
}

@keyframes drop0to1 {
  from {
    top: -126px;
  }
  to {
    top: 0px;
  }
}

.g2 {
  position: relative;
  animation-name: drop0to2;
  animation-duration: 0.39s;
}

@keyframes drop0to2 {
  from {
    top: -207px;
  }
  to {
    top: 0px;
  }
}

.g3 {
  position: relative;
  animation-name: drop0to3;
  animation-duration: 0.52s;
}

@keyframes drop0to3 {
  from {
    top: -288px;
  }
  to {
    top: 0px;
  }
}

.g4 {
  position: relative;
  animation-name: drop0to4;
  animation-duration: 0.65s;
}

@keyframes drop0to4 {
  from {
    top: -369px;
  }
  to {
    top: 0px;
  }
}

.g5 {
  position: relative;
  animation-name: drop0to5;
  animation-duration: 0.78s;
}

@keyframes drop0to5 {
  from {
    top: -450px;
  }
  to {
    top: 0px;
  }
}
